@page "/products"
@inject IDataService DataService

<h1>Product List</h1>

@if (products == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var product in products)
    {
        <div>
            <h3>@product.nazwanie</h3>
            <p>price: @product.price</p>
            <p>Processor: @product.processor</p>
            <p>Graphics Card: @product.graphics_card</p>
            <p>RAM: @product.ram</p>
            <p>SSD: @product.storage</p>
            <img src="@product.image_url" alt="@product.nazwanie" width="200" />
        </div>
    }
}

@code {
    List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            products = await DataService.GetProductsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
            // Дополнительно можно обработать ошибку для пользователя, например, показав сообщение на экране
        }
    }
}
